div {
    background-color: #7d5fff;
    display: flex;
    justify-content: center;
}

.normal {
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    font-weight: 400;
    font-size: 1.3rem;
    background-color: green;
    color: white;
    margin: 20px;
    border-radius: 5px;
}

.outline {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    background-color: #fff;
    color: red;
    margin: 20px;
    border: 2px solid red;
    border-radius: 5px;
}

.disabled {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    background-color: rgb(51, 51, 163);
    color: white;
    margin: 20px;
    border-radius: 5px;
}

.rounded {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    background-color: rgb(129, 163, 51);
    color: white;
    margin: 20px;
    border-radius: 100px;
}

.success {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    background-color: rgb(24, 233, 17);
    color: white;
    margin: 20px;
    border-radius: 5px;
}

.danger {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    background-color: rgb(233, 17, 17);
    color: white;
    margin: 20px;
    border-radius: 5px;
}

.warning {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    background-color: rgb(132, 233, 17);
    color: white;
    margin: 20px;
    border-radius: 5px;
}

.info {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    background-color: rgb(17, 233, 233);
    color: white;
    margin: 20px;
    border-radius: 5px;
}